.form {
    margin: auto;
    margin-top: 50px;
    height: 100vh;
    text-align: center;
    padding: 20px;
    width: 80%;
}

.form h1 {
    margin-bottom: 50px;
}

@media screen and (max-width: 900px) {
    .form h1 {
        font-size: 26px;
        text-align: center;
    }
}